@model IEnumerable<_1150.GeneralStore.MVC.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>
<p> @Html.ActionLink("Add a customer", "Create")</p>
<h3>@ViewBag.Message</h3>
<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.FullName)</th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.FirstName)
            </td>


            <td>
                @Html.DisplayFor(m => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(m => item.FullName)
            </td>
            <td>
                @Html.ActionLink("Modify", "Edit", new { id = item.CustomerId }) ||
                @Html.ActionLink("More info", "Details", new { id = item.CustomerId }) ||
                @Html.ActionLink("Remove", "Delete", new { id = item.CustomerId })
            </td>
        </tr>
    }
</table>



